build
dist
*egg-info
venv
docs/site
__pycache__
*~
site
*pyc
.hypothesis
.pytest_cache

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/

# Generated API docs
docs/source/api
docs/build/
